html {
  box-sizing: border-box;
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

h1 {
  /* To override Normalize.css h1 margin */
  margin: 0;
}

button {
  cursor: pointer;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
  color: white;
}

.header {
  display: flex;
  padding: 25px;
  gap: 25px;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0);
}

.page-title {
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}

.active {
  border-bottom: 2px solid white;
  margin-bottom: -2px;
}

.home-main {
  background-image: url("./assets/5c709b56ce57f269e429.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px;
  text-align: center;
}

.home-main-desc {
  max-width: 750px;
  margin: 25px auto 0px auto;
  font-weight: normal;
}

.shop-button {
  margin-top: 100px;
  display: inline-block;
  background-color: blue;
  border-radius: 100px;
  padding: 10px 25px;
}

.cart-link {
  position: relative;
}

.cart-items-count {
  position: absolute;
  background-color: green;
  color: white;
  width: 20px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 50%;
  top: -5px;
  right: -21px;
}

.error,
.loading {
  font-size: 48px;
  text-align: center;
  color: black;
  margin-top: 100px;
}
